.header {
  background: $primary;
  color: $white;
  margin-bottom: $spacing-large * -2;
  padding: $spacing-large $spacing-small ($spacing-large * 2);
  border-bottom: 10px solid $secondary;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
  height: 100px;

  >h1 {
    margin: 0;
  }
}
