$float: left,
right;

$align: 'left',
'center',
'right';

@each $property in $align {
  .#{$property}-aligned {
    text-align: $property;
  }
}

@each $property in $float {
  @media screen and (min-width: $screen-sm-min) {
    .#{$property}-floated {
      float: $property;
    }
  }
}


.primary {
  color: $primary;
}

.is-white {
  color: $white;
}

.is-seamless {
  text-decoration: none;
}

.is-routerLink {
  cursor: pointer;
}

.list-clear {
  margin: 0;
  padding: 0;
  list-style: none;
}

.spaced-vertical {
  margin-top: $spacing-small;
  margin-bottom: $spacing-small;
}

.spaced-vertical-large {
  margin-top: $spacing-large;
  margin-bottom: $spacing-large;
}
