$primary: #E3350D;
$secondary: #444444;
$body-bg: #eeeeee;
$white: #ffffff;

$body-font: 'Open Sans',
'sans-serif';
$header-font: 'Open Sans',
'sans-serif';

$h1-size: 4rem;
$h2-size: 1.5rem;
$h3-size: 1rem;
$small-size: 0.75rem;

$spacing-large: 2rem;
$spacing-small: 1rem;

$radius-large: 10px;
$radius-medium: 5px;
$radius-small: 3px;

$screen-xs-min: 360px;
$screen-xs-max: 649px;
$screen-sm-min: 650px;
$screen-sm-max: 1023px;
$screen-md-min: 1024px;
$screen-md-max: 1123px;
$screen-lg-min: 1124px;
