<div class="is-routerLink" [routerLink]="[data.id]" routerLinkActive="router-link-active">
  <img src="./assets/card-back.png" [attr.src]="data.imageUrl" [alt]="data.name" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{ data.name }}</h5>
    <div class="card-text">
      <p>
        {{ data.id }}
      </p>
      <ul class="list-clear right-floated">
        <li *ngFor="let type of data.types">
          <app-energy [data]="type"></app-energy>
        </li>
      </ul>
    </div>
  </div>
</div>
